{% extends 'tracker/base.html' %}
{% block cssBlock %}
<style>
    .modal-body{
        word-wrap: break-word;
    }

    .spinner {
        margin-right: 10px;
    }

    .hidden {
        display: none;
    }

    .mainData {
        display: inline-block;
        overflow: hidden;
    }

    .mainData div {
        margin: 0px 5px;
    }

    .mainDataTable {
        height: 646px;
        width: 620px;
        overflow-y: auto;
    }

    .mainDataTable {
        padding: 0px 0px;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
    }

    .table {
        border-top: 1px solid #dee2e6;
        margin-bottom: 0;
    }

    .table td {
        border-top: 0px !important;
    }

    .table a {
        color: #1aaaba;
        cursor: pointer;
    }

    .table .block-img {
        padding: 1.5rem 0;
    }

    .table .tx-img {
        width: 130px;
        padding: 2.3rem 0;
    }

    .block-img {
        background-image: url("/static/images/block.png");
        background-position: center center;
        background-size: 80px;
        background-repeat: no-repeat;
    }

    .tx-img {
        background-image: url("/static/images/tx.png");
        background-position: center center;
        background-size: 80px;
        background-repeat: no-repeat;
    }

    .tmainBlock {
        width: 620px;
    }

    .tmainTx {
        width: 620px;
    }
</style>
{% endblock %}
{% block jsBlock %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
    $().ready(function () {
       
        $('#createWallet-btn').click(function () {
            $('#wallet-modal .modal-footer').removeClass('hidden');
            $('#wallet-modal .modal-title').text('Create Wallet');            
            $('#wallet-modal .modal-body').html('<p>Create Wallet!</p>');
            $('#wallet-modal .modal-footer .btn:first-child').text("Create");
            $('#wallet-modal').modal('show');
            $('.modal-footer .btn:first-child').click(function(){
                $('#wallet-modal-confirm').removeClass('hidden');
                post_fetch('/wallet/create/',"{}").then(data =>{
                    console.log(data);
                    $('#wallet-modal-confirm').addClass('hidden');
                    $('#wallet-modal .modal-footer').addClass('hidden');
                    $('#wallet-modal .modal-body').html('<p>Wallet Address - <strong>'+data.address+'</strong> </p>'
                                                       +'<p>Wallet private Key - <strong>'+data.private_key+'</strong> </p>');
                });
            })
        })
        $('#searchWallet-btn').click(function(){
            $('#wallet-modal .modal-footer').removeClass('hidden');
            $('#wallet-modal .modal-title').text('Search Wallet');            
            $('#wallet-modal .modal-body').html('<p>Wallet private key</p><input id="walletPrivateKey" class="form-control" type="password" placeholder="Enter Wallet Private KEY">');
            $('#wallet-modal .modal-footer .btn:first-child').text("Search");
            $('#wallet-modal').modal('show');
            $('.modal-footer .btn:first-child').click(function(){
            $('#wallet-modal-confirm').removeClass('hidden');
                post_fetch('/wallet/search/','{"private_key":"'+$('#walletPrivateKey').val()+'"}').then(data =>{
                    if(data === "fail"){
                        $('#wallet-modal').modal('hide');
                        Swal.fire('Error!!', 'Please Check information!', 'error');
                    }
                    console.log(data);
                    $('#wallet-modal-confirm').addClass('hidden');
                    $('#wallet-modal .modal-footer').addClass('hidden');
                    $('#wallet-modal .modal-body').html('<p>Wallet Address - <strong>'+data.address+'</strong> </p>'
                                                       +'<p>Wallet private Key - <strong>'+data.private_key+'</strong> </p>');
                });
            })
        })
        
    })
    function post_fetch(endpoint, params){
        const csrftoken = $("[name=csrfmiddlewaretoken]").val();
        return fetch(endpoint,{
            method: "POST",
            body: JSON.stringify(params),
            credentials: 'include',
            headers: {
                'X-CSRFToken': csrftoken,
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            }           
        })
        .then(response => {
            return response.json();
        })
        .catch( e =>{
            console.log(e);
            return 'fail';
        });
    }
</script>
{% endblock %}
{% block contentBlock %}
<div class="content-wrap">
    <div class="mainData">
        <div class="subTitle">Wallet Apps</div>
        <div class="wallet-menu">
            <button id="createWallet-btn" class="btn btn-primary">생성</button>
            <button id="searchWallet-btn" class="btn btn-primary">조회</button>
        </div>
    </div>
    <div id="wallet-modal" class="modal" tabindex="-1" role="dialog">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-spinner fa-spin spinner hidden" id="wallet-modal-confirm"></i>
                        Save changes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}