{% extends 'tracker/base.html' %}
{% block jsBlock %}
    <script src="/static/js/tablePageCount.js" type="text/javascript"></script>  
{% endblock %}
{% block contentBlock %}
    <div class="content-wrap">
        <div>
            <div class="subTitle">Contracts</div>
            <table class="table">
                <thead>
                    <th>Address</th>
                    <th>Contract Name</th>
                    <th>Balance</th>
                    <th>TxCount</th>
                    <th>Status</th>
                    <th>Confirmed Date</th>
                </thead>
                <tbody>
                    {% for record in contractsList %}
                        <tr>
                            <td><a href="{% url 'tracker:contractInfo' record.address %}">{{record.address}}</a></td>
                            <td>{{record.contractName}}</td>
                            <td>{{record.balance}}</td>
                            <td>{{record.txCount}}</td>
                            <td>{{record.status}}</td>
                            <td>{{record.verifiedDate}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'tracker/list-table-info.html' %}
        </div>
    </div>
{% endblock %}