<!-- base html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block titleBlock %}TEST NET TRACKER{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.css">
    <lick rel="stylesheet" type="text/css" href="/static/css/fontawesome/all.css">
    {% block cssBlock %}
    {% endblock%}
    <script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/static/js/popper.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>    
    {% block jsBlock %}
    {% endblock%}
</head>

<body>
    {% include 'tracker/nav.html' %}
    {% block contentBlock %}
    {% endblock%}
</body>

</html>