{% extends 'tracker/base.html' %}
{% block jsBlock %}
    <script src="/static/js/tablePageCount.js" type="text/javascript"></script>
{% endblock %}
{% block contentBlock %}
    <div class= "content-wrap">
        <div class="info-list">
            <div class="subTitle">Blocks</div>
            <table class="table">
                <thead>
                    <th>Block</th>
                    <th>Date</th>
                    <th>No of Txns</th>
                    <th>Block Hash</th>
                    <th>Amount</th>
                    <th>TxFee</th>
                </thead>
                <tbody>
                    {% for record in blockList%}
                        <tr>
                            <td><a href="{% url 'tracker:blockTracker' record.height %}">{{record.height}}</a></td>
                            <td>{{record.createDate}}</td>
                            <td>{{record.txCount}}</td>
                            <td><a href="{% url 'tracker:blockTracker' record.height %}">{{record.hash}}</a></td>
                            <td>{{record.amount}}</td>
                            <td>{{record.fee}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "tracker/list-table-info.html" %}
        </div>
    </div>
{% endblock %}